.score-card-container {
  height: 100vh;
  width: 100vw;

  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  text-align: center;
  color: white;
}
.score-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trophy {
  margin-top: 1em;
  max-height: 100px;
}
.play-again {
  background-color: blue;
}
